# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# vscode
.vscode/

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# aws
aws/

# terraform
#  Local .terraform directories
**/.terraform/*
**/.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*

# terragrunt
.terragrunt-cache/
*_generated.tf

# secrets
**/secrets.dec.yaml